In [1]:
from Model_Training import *
import warnings
from Bus import Bus
from SimulationEngine import SimulationEngine
from datetime import datetime

warnings.filterwarnings('ignore')

In [2]:
buses_model = Buses_model()

In [ ]:
#buses_model.generate_model()

Iniciando modelado de la distribución de Tiempos de Viaje...
Error: No valid symbolic solution found (likely m=0) for interval 10. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 13. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 14. Using x_max as inverse.
  -> Modelo de Tiempo A2-GLAXO_0700-0930 entrenado.
Error: No valid symbolic solution found (likely m=0) for interval 13. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 14. Using x_max as inverse.
  -> Modelo de Tiempo A2-GLAXO_1330-1800 entrenado.
  -> Modelo de Tiempo A2-GLAXO_0600-0700 entrenado.
Error: No valid symbolic solution found (likely m=0) for interval 9. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 10. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 11. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 12. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 13. Using x_max as inverse.
Error: No valid symbolic solution found (likely m=0) for interval 14. Using x_max as inverse.
  -> Modelo de Tiempo A2-GLAXO_0930-1330 entrenado.
  -> Advertencia: Sin datos suficientes para modelar A2-GLAXO_1830-2215
  -> Modelo de Tiempo GLAXO-DISNEY_0700-0930 entrenado.
  -> Modelo de Tiempo GLAXO-DISNEY_1330-1800 entrenado.
  -> Modelo de Tiempo GLAXO-DISNEY_0600-0700 entrenado.
  -> Modelo de Tiempo GLAXO-DISNEY_0930-1330 entrenado.
  -> Advertencia: Sin datos suficientes para modelar GLAXO-DISNEY_1830-2215
  -> Modelo de Tiempo DISNEY-A2_0700-0930 entrenado.
  -> Modelo de Tiempo DISNEY-A2_1330-1800 entrenado.
  -> Modelo de Tiempo DISNEY-A2_0600-0700 entrenado.
  -> Modelo de Tiempo DISNEY-A2_0930-1330 entrenado.
  -> Advertencia: Sin datos suficientes para modelar DISNEY-A2_1830-2215
   -> Generados datos sintéticos para A2-DISNEY_0700-0930 (Mu: 7.00 + Stop)
  -> Modelo de Tiempo A2-DISNEY_0700-0930 entrenado.
   -> Generados datos sintéticos para A2-DISNEY_1330-1800 (Mu: 7.00 + Stop)
  -> Modelo de Tiempo A2-DISNEY_1330-1800 entrenado.
   -> Generados datos sintéticos para A2-DISNEY_0600-0700 (Mu: 6.50 + Stop)
  -> Modelo de Tiempo A2-DISNEY_0600-0700 entrenado.
   -> Generados datos sintéticos para A2-DISNEY_0930-1330 (Mu: 5.50 + Stop)
  -> Modelo de Tiempo A2-DISNEY_0930-1330 entrenado.
   -> Generados datos sintéticos para A2-DISNEY_1830-2215 (Mu: 5.00 + Stop)
  -> Modelo de Tiempo A2-DISNEY_1830-2215 entrenado.

 Proceso finalizado. Los modelos de tiempo de viaje han sido guardados en 'time_models.pkl'

# Situación actual

In [3]:
days = 50

### Intervalo '06:00'-'07:00'

In [4]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '06:00'
end_time = '07:00'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80, route_type=1)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80, route_type=2)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [5]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [6]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2      8.275200     24.850000
1   DISNEY      9.067000     24.850000
2    GLAXO     14.180312     34.710000
3  General      8.870893     34.706169

In [7]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07          4.928        5.18     220.668         3.9370
1     50         16.476        4.90     121.520         1.3874

### Intervalo '07:00'-'09:30'

In [ ]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '07:00'
end_time = '09:30'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [ ]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [ ]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     10.789800     35.380000
1   DISNEY     10.417800     34.910000
2    GLAXO     10.498400     36.070000
3  General     10.489643     36.067167

In [ ]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07          9.776       12.36     526.536         9.9834
1     50         29.000       12.60     312.480         3.5088

### Intervalo '09:30'-'13:30'

In [ ]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '09:30'
end_time = '13:30'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [ ]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [ ]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     10.739600     36.610000
1   DISNEY     11.031200     40.260000
2    GLAXO     10.388000     34.450000
3  General     10.861476     40.255181

In [ ]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         11.116       21.10     898.860        16.5638
1     50         29.784       21.68     537.664         5.8586

### Intervalo '13:30'-'18:00'

In [ ]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '13:30'
end_time = '18:00'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [ ]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [ ]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     11.476000     39.440000
1   DISNEY     11.316200     39.380000
2    GLAXO     10.686400     35.020000
3  General     11.338142     39.436527

In [ ]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         13.794       23.32     993.432        18.5278
1     50         39.088       23.56     584.288         6.6010

### Intervalo '18:30'-'22:15'

In [ ]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '18:30'
end_time = '22:15'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [ ]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     11.476000     39.440000
1   DISNEY     11.316200     39.380000
2    GLAXO     10.686400     35.020000
3  General     11.338142     39.436527

In [ ]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         13.794       23.32     993.432        18.5278
1     50         39.088       23.56     584.288         6.6010