In [2]:
from Model_Training import *
import warnings
from Bus import Bus
from SimulationEngine import SimulationEngine
from datetime import datetime

warnings.filterwarnings('ignore')

In [5]:
buses_model = Buses_model()

# Situaci√≥n actual

In [6]:
days = 50

### Intervalo '06:00'-'07:00'

In [18]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '06:00'
end_time = '07:00'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [19]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [20]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2       8.15800     25.620000
1   DISNEY       8.63820     27.150000
2    GLAXO       6.71907     22.920000
3  General       8.31308     27.147436

In [21]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07          5.038        5.10     217.260         3.8962
1     50         13.922        5.24     129.952         1.3072

### Intervalo '07:00'-'09:30'

In [22]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '07:00'
end_time = '09:30'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [23]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [24]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     10.789800     35.380000
1   DISNEY     10.417800     34.910000
2    GLAXO     10.498400     36.070000
3  General     10.489643     36.067167

In [25]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07          9.776       12.36     526.536         9.9834
1     50         29.000       12.60     312.480         3.5088

### Intervalo '09:30'-'13:30'

In [7]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '09:30'
end_time = '13:30'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [8]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [9]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     10.739600     36.610000
1   DISNEY     11.031200     40.260000
2    GLAXO     10.388000     34.450000
3  General     10.861476     40.255181

In [11]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         11.116       21.10     898.860        16.5638
1     50         29.784       21.68     537.664         5.8586

### Intervalo '13:30'-'18:00'

In [12]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '13:30'
end_time = '18:00'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [13]:
all_stops_df = pd.concat(daily_stop_stats, ignore_index=True)

avg_stop_stats = all_stops_df.groupby('origin').agg({
    'Avg_Wait_Min': 'mean',
    'Max_Wait_Min': 'max'
}).reset_index()
all_buses_df = pd.concat(daily_bus_stats, ignore_index=True)

all_buses_df['Avg Occupancy'] = all_buses_df['Avg Occupancy'].astype(float)
all_buses_df['Total Cost'] = all_buses_df['Total Cost'].astype(float)
all_buses_df['Trips Made'] = all_buses_df['Trips Made'].astype(float)
all_buses_df['Total gas (L)'] = all_buses_df['Total gas (L)'].astype(float)

avg_bus_stats = all_buses_df.groupby('Bus ID').agg({
    'Avg Occupancy': 'mean',
    'Trips Made': 'mean', 
    'Total Cost': 'mean',
    'Total gas (L)': 'mean'
}).reset_index()

In [14]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     11.476000     39.440000
1   DISNEY     11.316200     39.380000
2    GLAXO     10.686400     35.020000
3  General     11.338142     39.436527

In [15]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         13.794       23.32     993.432        18.5278
1     50         39.088       23.56     584.288         6.6010

### Intervalo '18:30'-'22:15'

In [16]:
daily_stop_stats = []
daily_bus_stats = []

start_time = '18:30'
end_time = '22:15'

for day in range(days):
    # 1. Re-Initialize Buses inside the loop
    # This ensures specific bus counters (fuel, trips) reset to 0 every day
    eco_07 = Bus(id='07', start_second=0, start_place='DISNEY', cost=42.6, capacity=37, 
                    start_time=start_time, end_time=end_time, r_base=4.5, fp=0.0052, c_hour=3, samples=80)
    eco_50 = Bus(id='50', start_second=0, start_place='A2', cost=24.8, capacity=13, 
                    start_time=start_time, end_time=end_time, r_base=12.5, fp=0.0281, c_hour=1, samples=80)
    
    total_buses = [eco_07, eco_50]
    N_BUSES = len(total_buses)

    # 2. Re-Initialize Model
    pax_model = Pax_model()
    pax_model.generate_model(n_buses=N_BUSES)

    # 3. Run Sim
    sim = SimulationEngine(total_buses, pax_model, (start_time, end_time), show_process=False)
    sim.setup()
    sim.run()
    
    # 4. Get Metrics
    day_stop_stats, day_bus_stats = sim.get_metrics(show_metrics=False)
    
    # Add a 'Day' column just in case we need to debug individual runs later
    day_stop_stats['day'] = day
    day_bus_stats['day'] = day
    
    daily_stop_stats.append(day_stop_stats)
    daily_bus_stats.append(day_bus_stats)
    #print(f'Ended simulation of day {day+1}')

In [17]:
avg_stop_stats

    origin  Avg_Wait_Min  Max_Wait_Min
0       A2     11.476000     39.440000
1   DISNEY     11.316200     39.380000
2    GLAXO     10.686400     35.020000
3  General     11.338142     39.436527

In [18]:
avg_bus_stats

  Bus ID  Avg Occupancy  Trips Made  Total Cost  Total gas (L)
0     07         13.794       23.32     993.432        18.5278
1     50         39.088       23.56     584.288         6.6010