In [4]:
import Cleaner
import plotly.express as px
cleaner = Cleaner.Cleaner()

cleaner.set_path_info({'7': '07_v2.xlsx', '50':'50.xlsx'})

df = cleaner.process_data()

df

c:\Users\crdie\Documents\Tec\5Semestre\Optimizacion\DiscreteSimulation-TransporTec\Cleaner.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['trayecto'] = df_final['inicio'] + '-'+ df_final['final']

,inicio,final,Usuarios,hora_salida,fecha,unidad,timestamp,siguiente_salida,siguiente_inicio,delta_tiempo,minutos_viaje,trayecto
0,A2,GLAXO,5.0,06:24,2025-02-27,50,2025-02-27 06:24:00,2025-02-27 06:36:00,GLAXO,0 days 00:12:00,12.0,A2-GLAXO
1,GLAXO,DISNEY,0.0,06:36,2025-02-27,50,2025-02-27 06:36:00,2025-02-27 06:45:00,DISNEY,0 days 00:09:00,9.0,GLAXO-DISNEY
2,DISNEY,A2,3.0,06:45,2025-02-27,50,2025-02-27 06:45:00,2025-02-27 06:59:00,A2,0 days 00:14:00,14.0,DISNEY-A2
3,A2,GLAXO,7.0,06:59,2025-02-27,50,2025-02-27 06:59:00,2025-02-27 07:10:00,GLAXO,0 days 00:11:00,11.0,A2-GLAXO
4,GLAXO,DISNEY,0.0,07:10,2025-02-27,50,2025-02-27 07:10:00,2025-02-27 07:18:00,DISNEY,0 days 00:08:00,8.0,GLAXO-DISNEY
...,...,...,...,...,...,...,...,...,...,...,...,...
33,GLAXO,DISNEY,2.0,14:47,2025-08-15,50,2025-08-15 14:47:00,2025-08-15 14:58:00,DISNEY,0 days 00:11:00,11.0,GLAXO-DISNEY
34,DISNEY,A2,3.0,14:58,2025-08-15,50,2025-08-15 14:58:00,2025-08-15 15:19:00,A2,0 days 00:21:00,21.0,DISNEY-A2
35,A2,GLAXO,11.0,15:19,2025-08-15,50,2025-08-15 15:19:00,2025-08-15 15:28:00,GLAXO,0 days 00:09:00,9.0,A2-GLAXO
36,GLAXO,DISNEY,2.0,15:28,2025-08-15,50,2025-08-15 15:28:00,2025-08-15 15:39:00,DISNEY,0 days 00:11:00,11.0,GLAXO-DISNEY
37,DISNEY,A2,4.0,15:39,2025-08-15,50,2025-08-15 15:39:00,2025-08-15 16:00:00,A2,0 days 00:21:00,21.0,DISNEY-A2

In [5]:
stats = df.groupby(['trayecto'])['minutos_viaje'].agg(['mean', 'std', 'count', 'min', 'max'])
stats

                   mean       std  count  min   max
trayecto
A2-GLAXO       7.991935  2.238159    744  4.0  28.0
DISNEY-A2     14.780282  3.195052    710  2.0  28.0
GLAXO-DISNEY  11.112772  3.838516    736  2.0  26.0

In [ ]:
trayectos = ['A2-GLAXO', 'GLAXO-DISNEY', 'DISNEY-A2']
for trayecto in trayectos:
    sub_trayecto = df.loc[df['trayecto'] == trayecto]
    fig = px.histogram(sub_trayecto, x='minutos_viaje')
    fig.update_layout(title = f'Distribucion de tiempo entre inicios de viaje en el trayecto {trayecto}', title_x = 0.5)
    fig.show()

NameError: name 'df_final' is not defined